@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap'); /*font */

:root{
    background-color: honeydew;
}

*{
    font-family:'Nunito', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    

}

html{

font-size:62.5%;
overflow: hidden;
scroll-padding-top:5.5rem;
scroll-behavior:smooth;
}

header{
    position:fixed;
    top:0; left: 0; right:0;
    background: #b3a8a8;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow: var(--box-shadow);

}

header .logo{
    color: #f0fff0 ;
    font-size: 3rem;
    font-weight: bolder;

}

header .logo i{ /*logo in the left*/
    color: #faf0ff;
 
}

header .navbar a{ 
font-size: 1.7rem; 
border-radius: .5rem ;
padding: .5rem 1.5rem ;
color:honeydew ; 
}

header .navbar a.active,
header .navbar a:hover{
color: #b3a8a8 ;
background:honeydew;

}

header .icons i,
header .icons a{
    cursor: pointer;/*look of cursor*/
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size:1.7rem ;
    color:#faf0ff; 
    border-radius: 50%;
    background: transparent;
   

}

header .icons i:hover,
header .icons a:hover{
    color: honeydew;
    background: grey ;
    transform: scale(125%);
}

header .icons #burger{
    display: none;
}

header .icons #calendar{
    display:none;
}




/*media query 1*/
@media (max-width:991px){
    html{
        font-size:55%;
        }

        header{
            padding:1rem 2rem ;

        }
    
}

/*media query 2*/
@media (max-width:768px){

    header .icons #burger{
        display: inline-block;
    }

    header .icons #calendar{
        display: inline-block;
    }

    header .navbar {
        position:absolute;
        top: 0; left:0; right:0;
        background:#b3a8a8;
        border-top: .1rem solid rgb(118, 209, 162);
        border-bottom: .1rem solid rgb(118, 209, 162);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 5 );/*drop menu dimensions*/
        /*clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/*drop menu dimensions*/
    }
    header .navbar .active{
        Clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
        /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/


    }
   

    header .navbar a{
        display:block;
        padding:1.5rem;
        margin: 1rem;
        font-size:2rem;
        background: gray;

    }

    

}



/*media query 3*/
@media (max-width:991px){

    html{
        font-size:50%;
        }

      
    
}

.email{


}